<link rel="stylesheet" href="css/styles.css">

<h1> Información provista por el objeto <i>'process'</i> </h1>
<hr>

<table>
    <thead>
        <tr>
            <th>Dato</th>
            <th>Información</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Argumentos de entrada</td>
            <td>{{argEntrada}}</td>
        </tr>
        <tr>
            <td>Path de ejecución</td>
            <td>{{excPath}}</td>
        </tr>
        <tr>
            <td>Nombre de la plataforma</td>
            <td>{{os}}</td>
        </tr>
        <tr>
            <td>Process ID</td>
            <td>{{processID}}</td>
        </tr>
        <tr>
            <td>Versión de Node.js</td>
            <td>{{nodeVs}}</td>
        </tr>
        <tr>
            <td>Carpeta corriente</td>
            <td>{{folder}}</td>
        </tr>
        <tr>
            <td>Uso de memoria</td>
            <td>{{memoryUsage}}</td>
        </tr>
        <tr>
            <td>Número de CPUs</td>
            <td>{{numCPUs}}</td>
        </tr>
    </tbody>
</table>





