<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" >
<!-- Slicknav -->
<link rel="stylesheet" type="text/css" href="css/slicknav.css">
<!-- Off Canvas Menu -->
<link rel="stylesheet" type="text/css" href="css/menu_sideslide.css">
<!-- Color Switcher -->
<link rel="stylesheet" type="text/css" href="css/vegas.min.css">
<!-- Animate -->
<link rel="stylesheet" type="text/css" href="css/animate.css">
<!-- Main Style -->
<link rel="stylesheet" type="text/css" href="css/main.css">
<!-- Responsive Style -->
<link rel="stylesheet" type="text/css" href="css/responsive.css">

<!-- Intro Section Start -->
<section class="intro">
    <div class="container">
        <div class="row text-center">
          <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="heading-count">
                    <h2>¡Hola {{name}}!</h2>
                </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
                <button class="btn btn-common" onclick="location.href='/logout'">Cerrar Sesión</button>
                <!--<a href="#services" class="target-scroll page-scroll"><i class="lni-chevron-down"></i></a> -->
          </div>
        </div>
    </div>
</section>
<!-- Intro Section End -->


<!-- 
 Profile Section Start 
<section id="team" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="team-item text-center">
          <div class="team-img">
            <img class="img-fluid" src="#">
          </div>
          <div class="info-text">
            <h3>Tu perfil</h3>
            <p>Email: {{username}}</p>
            <p>Nombre: {{name}}</p>
            <p>Dirección: {{address}}</p>
            <p>Edad: {{age}}</p>
            <p>Número de teléfono: {{phoneNumber}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
 Profile Section End 

-->



<!--

<h1 class="alert alert-success p-4">
    <h2>¡Hola {{nombre}}!</h2>

    <div class="float-right">
        <button class="btn btn-warning" onclick="location.href='/logout'">
            <b>Cerrar Sesión</b><br><img src="{{foto}}" width="75" alt="">
        </button>
    </div>

    <b><a href="#">{{email}}</a></b>
</h1>

-->